<strong><em>Important: </strong>if your current url does not include a "city" parameter (in the form of "?city=CITYNAME" appended to /map/index) this page will not work correctly. Here's what you need to do: </em>
	<ul>
		<li>
			Add a city parameter to the URL and resubmit the page request. Note that this app's parameter-parsing capabilities are weak and so, for simplicity's sake, try to stick to single-word cities that are likely to have events on last.fm
		</li>
	</ul>