<div class="row">

	<div class="col-xs-12 text-center first box box-blue">
		<h1>Music Event Finder</h1>
	</div>

</div>

<div class="row">	

	<div class="minheight maxbox-container text-center box box-red col-xs-2">
		<button type="button" class="instruction-button maxbox">Click here to show instructions</button>
	</div>
	
	<div class="col-xs-10 box box-red instruction-content hidden-content">
		<%= render 'instructions' %> 
	</div>

</div>
