/* line 8, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
html {
  border: 4px solid orange;
  height: 100%;
  width: 100%;
  display: table;
}

/* line 15, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
body {
  width: 100%;
  color: black;
  opacity: 1;
}

/* line 21, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.navbar {
  border: 1px solid orange;
  padding-left: 0%;
  padding-bottom: 1px;
}

/* line 27, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.background {
  position: fixed;
  height: 120%;
  right: 0px;
  width: 120%;
  background-image: url("anemone.jpg");
  background-size: 120%;
  opacity: .1;
  z-index: 1;
}

/* line 38, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.box {
  border: 1px solid black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 30px 60px;
  width: 90%;
  margin: 0px 0px 0px 5%;
}

/* line 49, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.box-blue {
  background-color: rgba(85, 98, 242, 0.8);
}

/* line 53, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.box-red {
  background-color: rgba(242, 27, 113, 0.8);
}

/* line 57, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.box-green {
  background-color: rgba(96, 213, 51, 0.8);
}

/* line 61, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.first {
  margin-top: 80px;
}

/* line 65, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.container {
  width: 100%;
}

/* line 69, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.last {
  margin-bottom: 20px;
}

/* line 73, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.starter-template {
  position: relative;
  z-index: 2;
}

/* line 78, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.pre-background {
  position: fixed;
  height: 120%;
  right: 0px;
  width: 120%;
  background-color: black;
  background-size: 120%;
  z-index: 0;
}

/* columns of same height styles */
/* line 90, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.container-xs-height {
  display: table;
}

/* line 93, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.row-xs-height {
  display: table-row;
  width: 100%;
}

/* line 97, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.col-xs-height {
  display: table-cell;
  float: none;
}

/* line 102, /home/max/code/my_apps/ruby/Rails_Apps/maxpleaner/app/assets/stylesheets/sites.css.scss */
.col-xs-6 {
  width: 50%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/`ylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


