/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/`ylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




html {
	border: 4px solid orange;
	height: 100%;
	width: 100%;
	display: table;
}

body {
	width: 100%;
	color: black;
	opacity: 1;
}

.navbar{ 
	border: 1px solid orange;
	padding-left: 0%;
	padding-bottom: 1px;
	}

.background {
	position: fixed;
	height: 120%;
	right: 0px;
	width: 120%;
	background-image:url('anemone.jpg');
	background-size: 120%;
	opacity: .1;
	z-index: 1;
}

.box {
	border: 1px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
	padding: 30px 60px;
	width: 90%;
	margin: 0px 0px 0px 5%;
}

.box-blue {
	background-color: rgba(85, 98, 242, 0.8);
}

.box-red {
	background-color: rgba(242, 27, 113, 0.8);
}

.box-green {
	background-color: rgba(96, 213, 51, 0.8);
}

.first {
	margin-top: 80px;
}

.container {
	width: 100%;
}

.last {
	margin-bottom: 20px;
}

.starter-template {
	position: relative;
	z-index: 2
}

.pre-background {
	position: fixed;
	height: 120%;
	right: 0px;
	width: 120%;
	background-color: black;
	background-size: 120%;
	z-index: 0;
}


/* columns of same height styles */
.container-xs-height {
    display:table;
}
.row-xs-height {
    display:table-row;
    width: 100%;
}
.col-xs-height {
    display:table-cell;
   float:none;
}

.col-xs-6 {
	width: 50%;
}

.news_ul li {
	margin-bottom: 15px;
}

.hidden-content {
	display: none;
}

.minheight {
	min-height: 125px;
}
.maxbox {
height: 125px;
width: 100%;

}

.maxbox-container {
padding: 0px;
}

.vertical-center {
	vertical-align: bottom;
}