

	<div class="first box box-blue">
    <h1>
    	Web Development Projects and Professional Services
    </h1>
	</div>
  <!-- <hr> -->

  <div class="box box-blue">
    <p class="lead"> 
			I can build you a complex web application with services specially tailored to comprehensively fulfill the idiosyncratic needs of your business or organization. 
    </p>
  </div>
  <!-- <hr> -->

	<div class="box box-red">
		<p>
			<strong>
				Here's a quick rundown of news regarding the development of this site
			</strong>
			<ul class="news_ul">
				<li>
					<em>
						May 10, 2014:
					</em> 
					I've been working alot on the blog and am happy with the progress I've made (it's workable). I would like to keep the blog hosted on this domain but I think that is an issue I will have to sort out through server configuration as it doesn't seem anybody has a workable tutorial for integrating Octopress-generated content into Rails. The blog is hosted on maxpleaner.github.io and you can click the 'blog' link in the navbar to get there. Next I'm going to try and get my Music-Finder site integrated into this site.  
				</li>				
				<li>
					<em>
						May 4, 2014:
					</em> 
					I spent a good amount of time refactoring my styles and now I have a good app-wide layout scheme and it's possible to format individual pages using only a couple styles (like .box, .box-red, and only a couple more). I would like to get started on migrating my music-finder app over to this page, but first I think i will look into blog engines. I'd like to start out with a blog that has tags and possibly some other common features like social buttons. 
				</li>
				<li>
					<em>
						May 2, 2014:
					</em> 
					I have this app up on heroku at maxpleaner.heroku.com and also on github at github.com/maxpleaner/homepage. Bootstrap styles are working correctly using the CDN. I have basically 5 blank pages I now need to fill out with content. Stay tuned!
				</li>
			</ul>
		</p>
	</div>
	<!-- <hr> -->

	<div class="last box box-green">
	  <em>
	  	<small>
	  		Note:		I made this page using Twitter Bootstrap and I am glad that I was able to use a template and easily knock this one out. I have a lot to learn when it comes to front-end design, but I am happy having produced this because I can now focus on building the other core features of the site: the blog, the professional services section, and the two "sample" apps! Check out the links in the navbar to see what's been happening.
	  	</small>
	  </em>
	</div>
