<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= sites_url %> ">Max Pleaner</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <% if Rails.env.production? %>
            <% url = "http://maxpleaner.github.io" %>
          <% else %>
            <% url = "http://localhost:4000" %> 
          <% end %>
            <%= link_to 'Blog', url %>
        </li>
        <li><a href="/sites/professional_services">Professional Services</a></li>
        <li><a href="/sites/music_finder">Music-Finder</a></li>
        <li><a href="/sites/document_organizer">Document-Organizer</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>