<!DOCTYPE html>
<html lang="en">
<head>
  <title>MaxPleaner</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= render 'layouts/navbar' %> 

<div class="container container-xs-height">
  <div class="pre-background"></div>
  <div class="background"></div>
  <div class="starter-template">
   <%= yield %>
  </div>
</div>

<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
</body>
</html>
